{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
		<style type="text/css">
			.content-section{
				padding: 30px;
				margin: 30px;
				max-width: 1500px;			
			}
			#register-mid{
				width: 100%;
				display: flex;
				justify-content: flex-start;
			}
		</style>
		<div id="register-mid">
			<div class="content-section">
				<form id="register-form" method="POST">
					{% csrf_token %}
					<h3 class="mb-4">Blood Camp</h3>
					<fieldset id="register-form" class="form-group">
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Post</button>
					</div>
				</form>
			</div>
		</div>
	
{% endblock content %} 