{% extends "blog/base.html" %}
{% block content %}
<style type="text/css">
	.content-section{
		padding: 30px;
	}

</style>
<div class="content-section">
	<div class="alert alert-success" role="alert">
	  <h4 class="alert-heading">
	  	Your password has been set
	  </h4>
	  <p>“A single pint can save three lives, a single gesture can create a million smiles”</p>
	  <hr>
	  <small class="text-muted">
			Use your new password next time you<a class="ml-2" href="{% url 'login' %}">log In</a>
		</small>
	</div>
</div>

{% endblock content %}